CompileFlags:
  CompilationDatabase: "D:\\Workspace\\project\\ethercat_charger\\build\\ninja\\user_app\\"
  Add:
    - --target=riscv32-unknown-elf

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: Strict
